body {
    background-color: dimgrey;
}

#logo {
    margin-left: 550px;
}

#tabs {
    padding: 0;
    margin: 15;
    margin-left: 420px;
}

#tabs li {
    display: inline;
}

#tabs li a {
    font-family: Arial;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: dimgrey;
    color: #fff;
}

#tabs li a:hover {
    background-color: darkgray;
    margin-top: -2;
    padding-bottom: 12px;
    ]
}

.panels_item {
    position: absolute;
    height: 100%;
    visibility: hidden;
    opacity: 0;
}

.p_activa {
    visibility: visible;
    opacity: 1;
    position: relative;
}

.variasimg {
    background-color: black;
}

.variasimg img {
    width: 300px;
}

.redes {
    margin-left: 550px;
}

.redes li {
    display: inline;
}

.redes li a {
    font-size: 17px;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    width: 100;
}

.registro {
    width: 400px;
    background: black;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    font-family: 'calibri';
    color: white;
    border-radius: 6px;
    box-shadow: 7px 13px 37px #000;
}

.registro h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: black;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid dimgrey;
    font-family: 'calibri';
    font-size: 18px;
    color: dodgerblue;
}

.registro .botons {
    width: 100%;
    background: dimgrey;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.condiciones {
    margin-left: 25%;
}